<footer class="w-100 bg-dark py-4">
    <div class="container text-light">

        <div style="line-height: 20px; margin-bottom: 20px" class="container">
            <div class="row align-items-start">

                <div class="col">
                    <address>
                        <strong>Burkina Faso E-Timbre.</strong><br>
                        IC3 GSN 2023-2024<br>
                        Projet de NodeJs<br>
                        <abbr title="Phone">Phone:</abbr> (+226) 70 14 30 74
                    </address>

                    <address>
                        <strong>Contact</strong><br>
                        <a href="mailto:1bakarysanou@gmail.com">1bakarysanou@gmail.com</a>
                    </address>
                </div>

                <div class="col">
                <address>
                    <strong>Burkina Faso E-Timbre.</strong><br>
                    IC3 GSN 2023-2024<br>
                    Projet de NodeJs<br>
                    <abbr title="Phone">Phone:</abbr> (+226) 70 14 30 74
                </address>

                    <address>
                        <strong>Contact</strong><br>
                        <a href="mailto:1bakarysanou@gmail.com">1bakarysanou@gmail.com</a>
                    </address>
                </div>

                <div class="col">
                    <address>
                        <strong>Burkina Faso E-Timbre.</strong><br>
                        IC3 GSN 2023-2024<br>
                        Projet de NodeJs<br>
                        <abbr title="Phone">Phone:</abbr> (+226) 70 14 30 74
                    </address>

                    <address>
                        <strong>Contact</strong><br>
                        <a href="mailto:1bakarysanou@gmail.com">1bakarysanou@gmail.com</a>
                    </address>
                </div>

                <div class="col">
                    <address>
                        <strong>Burkina Faso E-Timbre.</strong><br>
                        IC3 GSN 2023-2024<br>
                        Projet de NodeJs<br>
                        <abbr title="Phone">Phone:</abbr> (+226) 70 14 30 74
                    </address>

                    <address>
                        <strong>Contact</strong><br>
                        <a href="mailto:1bakarysanou@gmail.com">1bakarysanou@gmail.com</a>
                    </address>
                </div>

            </div>
        </div>


        <span class="float-end"><a href="#">Back to top</a></span>
        Copyright © 2024 BURKINA FASO E-TIMBRE, Tout droits réservés. · <a href="#">Confidentialité</a> · <a href="#">Contrat de licence</a>
    </div>
</footer>
